################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/MaterialDashboard/.vs/MaterialDashboard
/MaterialDashboard/MaterialDashboard/obj
